<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Andrew Stacey</string>
	<key>Buffer Order</key>
	<array>
		<string>ChangeLog</string>
		<string>ComplexExt</string>
		<string>Main</string>
		<string>Matrix</string>
		<string>Complex</string>
		<string>Quaternion</string>
		<string>QuaternionExt</string>
		<string>Vec3</string>
		<string>VecExt</string>
		<string>Vector</string>
	</array>
	<key>Created</key>
	<date>2011-11-19T09:27:53Z</date>
	<key>Dependencies</key>
	<array>
		<string>CModule</string>
		<string>AutoGist</string>
		<string>Codea Community Dev</string>
	</array>
	<key>Description</key>
	<string>A library of classes and functions for mathematical objects.</string>
	<key>Project</key>
	<string>Library Maths</string>
	<key>Version</key>
	<real>2</real>
</dict>
</plist>
